$mq-tablet: 768px;
$mq-desktop: 1024px;
$item-form-width: 50%;

// colors
$cod-grey: #141414;
$tanhide-orange: #FAA567;
$mercury-grey: #E3E3E3;
$outerspace-grey: #2E3538;
$white: #FFFFFF;
$fuchsia-blue: #6C57C2;
